body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1599px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1599px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:792px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:1416px;
  width:210px;
  height:64px;
  overflow:hidden;
}
#u350_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:64px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u350_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:1416px;
  width:204px;
  height:64px;
  overflow:hidden;
}
#u351_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:64px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u351_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
