body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2375px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2375px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1180px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:73px;
  width:57px;
  height:49px;
  overflow:hidden;
}
#u419_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u419_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:73px;
  width:156px;
  height:49px;
  overflow:hidden;
}
#u420_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u420_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:183px;
  width:69px;
  height:34px;
  overflow:hidden;
}
#u421_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u421_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:182px;
  width:69px;
  height:34px;
  overflow:hidden;
}
#u422_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u422_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:182px;
  width:69px;
  height:32px;
  overflow:hidden;
}
#u423_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u423_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:182px;
  width:69px;
  height:32px;
  overflow:hidden;
}
#u424_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u424_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:182px;
  width:69px;
  height:32px;
  overflow:hidden;
}
#u425_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u425_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:182px;
  width:69px;
  height:32px;
  overflow:hidden;
}
#u426_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u426_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:182px;
  width:69px;
  height:32px;
  overflow:hidden;
}
#u427_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u427_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:518px;
  width:88px;
  height:34px;
  overflow:hidden;
}
#u428_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u428_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:564px;
  width:88px;
  height:34px;
  overflow:hidden;
}
#u429_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u429_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:608px;
  width:88px;
  height:34px;
  overflow:hidden;
}
#u430_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u430_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
