body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:504px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:61px;
  width:56px;
  height:62px;
  overflow:hidden;
}
#u469_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:62px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u469_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:287px;
  width:56px;
  height:79px;
  overflow:hidden;
}
#u470_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:79px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u470_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:431px;
  width:56px;
  height:79px;
  overflow:hidden;
}
#u471_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:79px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u471_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:574px;
  width:56px;
  height:79px;
  overflow:hidden;
}
#u472_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:79px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u472_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:721px;
  width:56px;
  height:79px;
  overflow:hidden;
}
#u473_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:79px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u473_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:61px;
  width:56px;
  height:62px;
  overflow:hidden;
}
#u474_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:62px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u474_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:719px;
  width:56px;
  height:79px;
  overflow:hidden;
}
#u475_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:79px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u475_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
