body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:504px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:61px;
  width:56px;
  height:62px;
  overflow:hidden;
}
#u460_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:62px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u460_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:287px;
  width:56px;
  height:79px;
  overflow:hidden;
}
#u461_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:79px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u461_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:431px;
  width:56px;
  height:79px;
  overflow:hidden;
}
#u462_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:79px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u462_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:574px;
  width:56px;
  height:79px;
  overflow:hidden;
}
#u463_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:79px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u463_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:721px;
  width:56px;
  height:79px;
  overflow:hidden;
}
#u464_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:79px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u464_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:61px;
  width:56px;
  height:62px;
  overflow:hidden;
}
#u465_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:62px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u465_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:719px;
  width:56px;
  height:79px;
  overflow:hidden;
}
#u466_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:79px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u466_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
